body {
    color: blueviolet;
}




table{
    border-collapse: collapse;
    text-align: center;
}
#ola {
    font-style: italic; font-size: larger; color: blue ;
}
<<<<<<< HEAD
=======

body {
    background-color: lightblue;
}
>>>>>>> 5f0dead97a09871fdcc962383386970e76c4f72d
