h1{
    text-align: center;
}
h3 {
    font-style: italic; font-size: larger; color: blue ;
}
table{
    border-collapse: collapse;
    text-align: center;
}
#ola {
    font-style: italic; font-size: larger; color: blue ;
}