body {
    color: blueviolet;
}




table{
    border-collapse: collapse;
    text-align: center;
}
#ola {
    font-style: italic; font-size: larger; color: blue ;
}

body {
    background-color: lightgreen;
}